.profile{
    padding: 30px 0;
    position: relative;
}

.profile-form{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.profile-pic{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-form > h2 {
    font-size: 20px;
    margin-top: 20px;
}

.profile-form > p {
    color: #444444;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid #999999;
}

.logout-btn {
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    background-color: var(--primary);
    padding: 10px;
    color: #F0FFF0;
    border-radius: 10px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #1aa762;
    cursor: pointer;
}
