@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #060608;
  --secondary: #E50914;
  --white: #F0FFF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
}

.outer-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .outer-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .outer-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .outer-container {
    width: 1170px;
  }
}